@import 'tailwindcss';
@import 'maplibre-gl/dist/maplibre-gl.css';

@theme {
  --color-brand-50: #f0fdf4;
  --color-brand-500: #22c55e;
  --color-brand-600: #16a34a;
  --color-brand-700: #15803d;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

body {
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    sans-serif;
}

.maplibregl-ctrl-attrib-inner {
  font-size: 10px;
}
